*{
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #C5C5C5;
}

span.navbar-brand {
	font-size: 2.5em;
}

div.nav-item {
	font-size: 1.3em;
	color: white;
	margin: 0px -15px 0px -15px;
	padding-left: 15px;
	border: 1px solid white;
	background-color: #3E546F;
}

h2#title {
	font-size: 2em;
	line-height: 2em;
	font-weight: 600;
}

div.col-xs-12 {
	margin: 15px;
	border: 1px solid black;
	background-color: #656565;
	color: white;
	font-weight: 600;
	padding: 15px;
}	

p#box-title {
	font-size: 1.5em;
}